/*
color - wildwest scheme

*/
/* 
    Created on : Nov 19, 2015, 3:27:18 AM
    Author     : RAM
*/
@import url(https://fonts.googleapis.com/css?family=Walter+Turncoat|Arbutus|Noticia+Text);

body {
    font-family: 'Noticia Text', serif;}
a{
    font-family: 'Walter Turncoat', cursive;
    color: #cfc5ab;
    text-decoration: none;}
a:hover {
    font-weight: bold;
    font-style: italic;
    color: #eee4d9;
}
h1 {
    font-family: 'Arbutus', cursive;}
h2, h3, h4, h5, h6 {
    font-family: 'Walter Turncoat', cursive;}
#header {
    background-color: #41381e;}
#feature{
    background-color: #eee4d9;}
.article {
    background-color: #a79167;}
#footer {
    background-color: #5c523f;}