/*
color - SBU theme

*/
/* 
    Created on : Nov 19, 2015, 3:27:10 AM
    Author     : RAM
*/
@import url('http://fonts.googleapis.com/css?family=Alegreya+Sans');

:root {
    background-color: #768FA5;
}
body {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 13pt;}
h1,h2,h3,h4,h5,h6 {
	color:#003399;}
a {
	text-decoration:none;
	color:#039000;
	font-weight:bold;
}
a:hover {
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;}
#nav a {
    	color: #efffff;}
#header, #footer {
    background-color: #ee0000;}
#feature, .article {
    background-color: #efffff;}