/*
color - starry night theme

*/
/* 
    Created on : Nov 19, 2015, 3:27:25 AM
    Author     : RAM
*/
@import url(https://fonts.googleapis.com/css?family=Sirin+Stencil|Asul);

:root {
    background-color: #1e295b}
body {
    font-family: 'Asul', sans-serif;}
a{
    font-family: 'Sirin Stencil', cursive;
    color: #bdbf78;
    text-decoration: none;}
a:hover{
    color: #f4b305;}
#header {
    border-width: 4px;
    border-style: dotted hidden dotted hidden; 
    border-color: #efe198;
    background-color: #3989b9;}
#nav{
    background-color: #efe198;}
#nav a {
    color: #1a425b;}
#nav a:hover {
    font-weight: bold;}
#footer {
    color: #3989b9;    
    background-color: #2e231f;}
#feature, .article:nth-child(odd) {
    color: #efe198;
    border-width: 4px;
    border-style: hidden dotted hidden dotted; 
    border-color: #bdbf78;
    background-color: #4e74a6;}
.article:nth-child(even) {
    color: #efe198;
    border-width: 4px;
    border-style: hidden dotted hidden dotted; 
    border-color: #bdbf78;
    background-color: #3989b9;}
