/*
layout - navbar at top left (like our course homepage)

*/
/* 
    Created on : Nov 19, 2015, 3:25:16 AM
    Author     : RAM
*/
* {
    box-sizing: border-box;
    text-align: center;}
body {
    width: 90%;
    margin: 0 auto;}
@media all {
    #header {
        display: flex;
        flex-direction: column;}
    #banner {
        order: 2;}
}
#content {
    overflow: auto;}
#banner img{
    width: 100%;
    height: auto;
}
#banner, #nav, #feature, #footer {
    margin: 1%;}
.column1, .column2, .column3 {
    margin: 1%;}
#nav li {
    float: left;
    display: inline;
    padding: 0.5em;}
#nav, #footer {
    padding: 0.5em 0;}
#feature, .article {
    height: 10em;
    margin-bottom: 1em;}