/*
color - botany theme

*/
/* 
    Created on : Nov 19, 2015, 3:27:32 AM
    Author     : RAM
*/
@import url(https://fonts.googleapis.com/css?family=Cagliostro|Cinzel|Berkshire+Swash);

:root {
    background-color: #d4d0c6;}
body {
    font-family: 'Cagliostro', sans-serif;}
h1 {
    font-family: 'Cinzel', serif;} 
h2, h3, h4, h5 {
    font-family: 'Berkshire Swash', cursive;}
a{
    color: #b5c1ad;
    text-decoration: none;}
a:hover{
    color: #819397;}
#header {
    background-color: #FFFBEE;
    border: 4px double #819397;}
#nav {
    color: #819397;}
#nav a {
    font-family: 'Berkshire Swash', cursive;}
#nav li {
    border-right: 2px dashed #ec6c7b;}
#content {
    color: #b48244;}
//FFFBEE
#feature {
    color: #819397;
    background-color:  #efdbc3;
    border: 8px double #819397;}
#footer {
    background-color: rgba(0,0,0,0.2);}
.article {
    background-color: #FFFBEE;}