/*
layout - navbar down along right

*/
/* 
    Created on : Nov 19, 2015, 3:25:24 AM
    Author     : RAM
*/

* {
    box-sizing: border-box;
    text-align: center;}
body {
    width: 90%;
    margin: 0 auto;}
#header {
    width: 14%;   
    float: right;
    padding: 5px;}
#content {
    width: 83%;
    float: left;
    overflow: auto;}
#footer {
    clear: left;
}
#banner img{
    width: 100%;
    height: auto;}
#header, #feature, #footer {
    margin: 1%;}
.column1, .column2, .column3 {
    margin: 1%;}
#feature, .column1, .column2, .column3 {
    margin-right: 0%;}
#nav ul{
    padding: 0;
}
#nav li {
    display: block;
    padding: 1em 2em 1em 2em;}
#nav, #footer {
    padding: 0.5em 0;}
#feature, .article {
    height: 10em;
    margin-bottom: 1em;}
